---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% assign excerpted = true %}
  {% for post in paginator.posts %}
  {% assign content = post.excerpt %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="prev">&larr; Prev</a>
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next &rarr;</a>
      {% endif %}
  </div>
</div>
